/* search bar */
/* div[class^="toolbar-"] div[class^="search-"]>div[class^="searchBar-"]:hover,
div[class^="toolbar-"] div[class~="focused"]>div[class^="searchBar-"] {
    width: 400px;
    /*search bar on size hover & select */
/* } */

/* Channel animation */
.mainContent-20q_Hp {
    transition: all 1s;
}

.mainContent-20q_Hp:hover {
    transition: all 0.4s;
    transform: scale(0.8);
}

/* STATUS PICKER */
#account-status-picker+.layer-2aCOJ3 .submenu-1apzyU {
    min-width: 0px;
    width: 100px;
}

#account-status-picker--online+div {
    display: none;
}

#account-status-picker--online>div>div,
#account-status-picker--idle>div>div,
#account-status-picker--dnd>div>div,
#account-status-picker--invisible>div>div {
    display: none;
}

#account-status-picker--online>div,
#account-status-picker--idle>div,
#account-status-picker--dnd>div,
#account-status-picker--invisible>div {
    display: flex;
    justify-content: center;
}

#account-status-picker--online>div:hover,
#account-status-picker--idle>div:hover,
#account-status-picker--dnd>div:hover,
#account-status-picker--invisible>div:hover {
    color: #fff;
}

#account-status-picker--online,
#account-status-picker--idle,
#account-status-picker--dnd,
#account-status-picker--invisible {
    height: 35px;
}

#account-status-picker--online.focused-3qFvc8 {
    background: var(--online-color);
}

#account-status-picker--idle.focused-3qFvc8 {
    background: var(--idle-color);
}

#account-status-picker--dnd.focused-3qFvc8 {
    background: var(--dnd-color);
}

#account-status-picker--invisible.focused-3qFvc8 {
    background: var(--offline-color);
}

/* message emphasize */
[class*=messageContent] :is(h1, h2, h3) {
    color: #e752e9;
}
[class*=messageContent] strong {
    color: lightsalmon;
}

/* search bar */
div[class^="toolbar-"] div[class^="search-"] > div[class^="searchBar-"]  {
    border-radius: 8px;
    /*rounds corners of search bar*/
    width: 250px;
    /*search bar size when left alone*/
    transition-duration: 300ms;
    /*transition time for expanding search bar*/
    /* counter-set: "搜尋"; */
}

/* normal size member count */
#vc-membercount {
    margin-top: 0.5em !important;
    margin-bottom: -1em !important;
}

/* hyperlink next to text*/
.anchor_c8ddc0[title$=")"]::after {
    font-size: 0.6rem;
    content: " (" attr(href) ")";
    filter: grayscale(0.5);
}